#content{
  margin: 0 5%;
}

nav{
  margin-bottom: 3%;
}

.parallax-container {
  height: 300px;
}

#bio2{
  text-align: center;
  margin: 80px 0 5px 0;
  float: left;
  border-bottom: gray solid 1px;
}

#bio3{
  text-align: center;
  margin: 20px 0 5px 0;
  float: left;
  border-bottom: gray solid 1px;
}

#picDiv{
float: left;
margin: 10% 5%;
}

#image{
  transform: rotate(90deg);
  height: 240px;
  box-shadow: grey 0px 0px 10px 2px;
}

#summary{
  float: left;
  font-size: 16px;
}

#technicalSkills{
  float: left;
  font-size: 16px;
}

#projects{
  text-align: center; 
  margin: 0 45%;
  border-bottom: gray solid 1px;
}

#background{
  width: 100vh;
  height: 8%px;
}

.container{
display: inline;
padding: 0%;
}

.section{
  padding: 0%;
}

#dictatorText{
  margin: 0 10%;
}

#dictator{
  width: 100%;
}

#skynetText{
  margin: 0 10%;
}

.header{
  border-bottom: gray solid 1px;
}